<!DOCTYPE html>
<html>
<head>
  @{  
      var controllerName = @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
      var actionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();
  }
    @RenderSection("scripts", required: false)
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet"
          type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <link href="~/Content/mycss.css" rel="stylesheet" />
</head>
<body id="@controllerName">
    <div id="header">
        <h1><a href="/">ASP.NET MVC MUSIC STORE</a></h1>
        <div class="divmenu">
            <ul id="navlist">

            <li id=" first" class="home">
                <a href="@Url.Content("~")" id="current">Home</a></li>

                <li class="about"><a href="@Url.Content("~/Store/")" id="current1">Store</a></li>
                <li class="art">@{Html.RenderAction("CartSummary", "ShoppingCart");}</li>
                <li class="admin"><a href="@Url.Content("~/StoreManager/")" id="current2">Admin</a></li>
            </ul>
            </div>
    </div>
    <div id="divnav"><nav >
        @{Html.RenderAction("GenreMenu", "Store");}
    </nav>
    </div>
    <div id="main">

        @RenderBody()
    </div>

    <div id="footer">
        Nguyen Danh Quang:<a href="http://asp.net/mvc">ASP.NET MVC 3</a>
    </div>
   
</body>
</html>
<script>
    $(function(){
        $("nav a").click(function () {
            $(this).css({ "color": "blue","border-style":"solid"
            ,"border-width":"5px" }).append(">");
        });
        $(".home:a").click(function () {
            $(".divmenu ul li #current").css({ "color": "blue", "background": "" }).append(">").prepend("<");
        });
        
    });
</script>